<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5 ">
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Pause Douceur</h2>

                    <img src="{{ asset('images/lg.png') }}" width="100px" class="rounded-circle"
                         height="100px"
                         alt="logo" style="margin-left: 20px">

                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Catalogue</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block"> Notre Gamme Sucrée</a></li>
                        <li><a href="#" class="py-2 d-block">Notre Gamme Salée</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Vous avez une question?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">18 rue Chadly Ennaifer, Ennaser 2, Ariana </span>
                            </li>
                            <li><span class="icon icon-phone"></span><span
                                            class="text">+216 26 040 326</span></li>
                            <li><span class="icon icon-envelope"></span><span class="text">PauseDouceur@yahoo.fr</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Contact</h2>

                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="http://twitter.com"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="http://facebook.com"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="http://instagram.com"><span class="icon-instagram"></span></a></li>
                    </ul>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | made by <i class="icon-heart" aria-hidden="true"></i> by
                    EtudiantesDeL'Insat</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>