<div class="card">
    <div class="card-header">Cher(e) client {{ data.username }},</div>
    <div class="card-body">
        <p>Vous avez demandé la rénitialisation de votre mot de passe.<br>
            Pour choisir un nouveau mot de passe, veuillez cliquer <a
                    href="http://localhost:8000/changerMDP?email={{ data.adresseEmail }}"> ici</a>
        </p>
        <hr>
        <p>Ceci est un message automatisé, veuillez ne pas y répondre. Pour nous contacter, veuillez utiliser les
            informations
            de contact affichées sur notre site <a href="http://localhost:8000/">Pause Douceur</a></p>
    </div>
    Â trés bientôt.
</div>